@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  font-family: 'Instrument Sans', sans-serif;
}
/* *{
  outline: red solid 1px;
} */
